<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">Twitter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'profile_list' %}">Profiles List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'people' %}">Find People</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'profile' request.user.id %}">My Profile</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'search' %}">Search</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">Logout</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'update_user'%}" class="nav-link">
            Update Profile
          </a></li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link">Signup</a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-link navbar-brand">
          <a href="{% url 'profile' request.user.id %}">
            <img src="{{ user.profile.profile_image.url }}" alt="{{user.username}} profile image" width="30" class="rounded-circle">
          </a>
        </li>
      </ul>
      {% endif %}
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>